/*!
 *  Theme		: Tristan CV
 *  Description : CV tristan.org
 *  Version     : 1.1
 */
/*!
 *	Resume styles:
 *	
 *	1.	GLOBAL STYLES
 *
 *	2.	LAYOUT DESIGN
 *		2.1	WRAPPER ASIDE / Left		
 *		2.2	WRAPPER SECTION / Right
 *
 *	3.	SOCIAL NAV	
 *
 *	4.	HEADER TITLE
 *
 *	5.	SECTIONS	
 *		3.1	SECTION // ABOUT ME
 *		3.2	SECTION // EXPERIENCES
 *		3.3	SECTION // EDUCATION
 *		3.4	SECTION // CONTACT
 *		3.5	SECTION // HOBBIES
 *	
 */
/*!
 **********************************************************
 *
 *	1.	GLOBAL STYLES
 *		Defaults HTML and overrides styles Bootstrap
 *
 **********************************************************
 */body{background:#222 url("../img/bg-v1.png") repeat 0 0;color:#222;font-family:"Helvetica Neue", Arial, sans-serif;font-size:14px;font-weight:200;line-height:15px}a{color:#222;text-decoration:none;-webkit-transition:all 0.35s;-moz-transition:all 0.35s;transition:all 0.35s}a:focus,a:hover{color:#099}h1,h2,h3,h4,h5,h6{font-weight:700;margin:0;padding:0}.text-primary{color:#099}.lead{font-size:20px;margin-bottom:0}footer{color:#999999;font-size:12px;padding:0;margin:15px 0;text-shadow:0 1px rgba(0, 0, 0, 0.9)}.bg-primary{background-color:#099}.media{margin:0;margin-bottom:10px;margin-left:23px}.media span{color:#fff;display:block;font-size:12px;height:35px;line-height:35px;text-align:center;width:35px}.media .media-body{color:rgba(34, 34, 34, 0.8);font-size:16px;line-height:25px}.progress{background-color:rgba(34, 34, 34, 0.8);border-radius:0;box-shadow:none;height:15px;line-height:15px;padding:0;margin-bottom:12px}.progress .progress-bar{background-color:#099;box-shadow:none;font-size:14px;line-height:20px}hr{border-color:rgba(34, 34, 34, 0.3)}
/*!
 **********************************************************
 *
 *	2.	LAYOUT DESIGN
 *
 **********************************************************
 */.container{max-width:1024px}.container .wrapper{background-color:#fff;border-radius:8px;box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.1);padding:25px 50px}@media (max-width:600px){.container{padding:0}.container .wrapper{border-radius:0;padding:20px}}
/*!
 **********************************************************
 *
 *	3.	SOCIAL NAV
 *
 **********************************************************
 */nav{margin:10px 0 3px 0;text-align:right}nav .pager{padding:0;margin:0;margin-bottom:6px}nav .pager a,nav .pager a:focus{background-color:inherit;border:none;color:#999999;font-size:12px;margin:5px 12px;padding:0;text-shadow:0 1px rgba(0, 0, 0, 0.9);-webkit-transition:all 0.35s;-moz-transition:all 0.35s;transition:all 0.35s}nav .pager a:focus:hover,nav .pager a:hover{background-color:inherit!important;color:#099;text-shadow:none}
/*!
 **********************************************************
 *
 *	4.	HEADER TITLE
 *
 **********************************************************
 */header.main{padding:17px 0;text-align:center}header.main h1{font-size:30px}@media (max-width:600px){header.main h1{font-size:13.5px}header.main p{font-size:22px}}@media (max-width:480px){header.main h1{font-size:7.5px}}
/*!
 **********************************************************
 *
 *	5.	SECTIONS
 *
 **********************************************************
 */section{margin-bottom:35px}@media (max-width:767px){section{margin-bottom:50px}}section h3{color:#222;font-size:16px;margin-bottom:25px}article{margin-left:25px}article p{color:rgba(34, 34, 34, 0.8);font-size:12px}article img.photo{border:5px solid #fff;box-shadow:0 0 5px 2px #ccc}@media (max-width:780px) and (min-width:480px){article img.photo{max-width:300px;margin:auto}}@media (max-width:780px){article img.photo{margin-bottom:25px}}