{
  "name": "cv",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "favicon.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":2244,\"newSize\":2244}}"
    },
    {
      "path": "less/truth.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/truth.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "css/truth-v1.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/truth-v1-dist.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "favicon_files/android-icon-36x36.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":2888,\"newSize\":2545}}"
    },
    {
      "path": "css/truth.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/truth-dist.css\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/bootstrap.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less",
      "js",
      "img",
      "fonts",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/truth.less",
      "imports": [
        "less/variables.less",
        "less/mixins.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/favicon_files"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "tristan.org/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": true,
      "keepAlive": true,
      "host": "rhyme.dreamhost.com",
      "port": 21,
      "user": "tristan_org",
      "password": "orange1water"
    },
    "sftp": {
      "host": "rhyme.dreamhost.com",
      "port": 22,
      "usePrivateKey": false,
      "username": "tristan_org",
      "password": "orange1water",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "*.psd",
      "/.bash_history",
      "/authorized_keys"
    ],
    "history": [
      {
        "file": "css/bootstrap.css",
        "ctime": "2018-03-22T10:41:05.300Z",
        "mtime": "2018-03-22T10:41:05.292Z",
        "size": 147430
      },
      {
        "file": "css/bootstrap.min.css",
        "ctime": "2018-03-15T10:40:18.218Z",
        "mtime": "2018-03-15T10:40:18.205Z",
        "size": 122540
      },
      {
        "file": "css/mixins.css",
        "ctime": "2018-03-22T12:24:13.061Z",
        "mtime": "2017-02-27T23:52:51.000Z",
        "size": 0
      },
      {
        "file": "css/truth-v1.css",
        "ctime": "2018-03-22T07:41:43.476Z",
        "mtime": "2018-03-22T07:23:10.978Z",
        "size": 4301
      },
      {
        "file": "css/truth-v2-dist.css",
        "ctime": "2018-03-22T07:41:38.808Z",
        "mtime": "2018-01-06T00:23:23.831Z",
        "size": 3671
      },
      {
        "file": "css/truth-v2.css",
        "ctime": "2018-03-22T07:41:47.487Z",
        "mtime": "2018-03-15T10:31:17.187Z",
        "size": 4277
      },
      {
        "file": "css/truth.css",
        "ctime": "2018-03-25T01:48:58.098Z",
        "mtime": "2018-03-25T01:48:58.098Z",
        "size": 3848
      },
      {
        "file": "css/variables.css",
        "ctime": "2018-03-22T12:24:00.726Z",
        "mtime": "2017-03-16T08:34:49.000Z",
        "size": 0
      },
      {
        "file": "favicon.png",
        "ctime": "2018-03-22T03:36:32.661Z",
        "mtime": "2017-03-11T22:41:14.000Z",
        "size": 2244
      },
      {
        "file": "favicon_files/android-icon-144x144.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 18293
      },
      {
        "file": "favicon_files/android-icon-192x192.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 28261
      },
      {
        "file": "favicon_files/android-icon-36x36.png",
        "ctime": "2018-03-15T08:56:33.058Z",
        "mtime": "2018-03-15T08:56:33.058Z",
        "size": 2545
      },
      {
        "file": "favicon_files/android-icon-48x48.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 4090
      },
      {
        "file": "favicon_files/android-icon-72x72.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 6686
      },
      {
        "file": "favicon_files/android-icon-96x96.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 9860
      },
      {
        "file": "favicon_files/apple-icon-114x114.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 12575
      },
      {
        "file": "favicon_files/apple-icon-120x120.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 13457
      },
      {
        "file": "favicon_files/apple-icon-144x144.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 18293
      },
      {
        "file": "favicon_files/apple-icon-152x152.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 19955
      },
      {
        "file": "favicon_files/apple-icon-180x180.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 26231
      },
      {
        "file": "favicon_files/apple-icon-57x57.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 5004
      },
      {
        "file": "favicon_files/apple-icon-60x60.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 5375
      },
      {
        "file": "favicon_files/apple-icon-72x72.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 6686
      },
      {
        "file": "favicon_files/apple-icon-76x76.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 7128
      },
      {
        "file": "favicon_files/apple-icon-precomposed.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 28750
      },
      {
        "file": "favicon_files/apple-icon.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 28750
      },
      {
        "file": "favicon_files/browserconfig.xml",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 281
      },
      {
        "file": "favicon_files/favicon-16x16.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 1350
      },
      {
        "file": "favicon_files/favicon-32x32.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 2546
      },
      {
        "file": "favicon_files/favicon-96x96.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 9860
      },
      {
        "file": "favicon_files/favicon.ico",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:19:16.000Z",
        "size": 1150
      },
      {
        "file": "favicon_files/manifest.json",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:26.000Z",
        "size": 720
      },
      {
        "file": "favicon_files/ms-icon-144x144.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 18293
      },
      {
        "file": "favicon_files/ms-icon-150x150.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 19571
      },
      {
        "file": "favicon_files/ms-icon-310x310.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 60857
      },
      {
        "file": "favicon_files/ms-icon-70x70.png",
        "ctime": "2017-03-11T22:20:30.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 6428
      },
      {
        "file": "fonts/glyphicons-halflings-regular.eot",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2015-06-17T01:56:18.000Z",
        "size": 20127
      },
      {
        "file": "fonts/glyphicons-halflings-regular.svg",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2015-06-17T01:56:18.000Z",
        "size": 108738
      },
      {
        "file": "fonts/glyphicons-halflings-regular.ttf",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2015-06-17T01:56:18.000Z",
        "size": 45404
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2015-06-17T01:56:18.000Z",
        "size": 23424
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff2",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2015-06-17T01:56:18.000Z",
        "size": 18028
      },
      {
        "file": "img/bg-v1.png",
        "ctime": "2018-03-22T11:56:20.755Z",
        "mtime": "2015-08-01T03:33:54.000Z",
        "size": 17919
      },
      {
        "file": "img/bg-v2.png",
        "ctime": "2018-03-22T11:56:18.400Z",
        "mtime": "2015-08-11T05:05:12.000Z",
        "size": 11347
      },
      {
        "file": "img/favicon.png",
        "ctime": "2017-03-11T22:22:33.000Z",
        "mtime": "2017-03-12T08:20:28.000Z",
        "size": 2546
      },
      {
        "file": "img/photo.jpg",
        "ctime": "2017-02-28T06:16:15.000Z",
        "mtime": "2017-01-27T02:44:27.000Z",
        "size": 38508
      },
      {
        "file": "img/TNC.png",
        "ctime": "2017-03-11T22:17:59.000Z",
        "mtime": "2017-03-11T22:17:59.000Z",
        "size": 117862
      },
      {
        "file": "index.html",
        "ctime": "2018-03-25T01:52:46.824Z",
        "mtime": "2018-03-25T01:52:46.818Z",
        "size": 21058
      },
      {
        "file": "js/color-switch-dist.js",
        "ctime": "2018-03-14T12:52:33.662Z",
        "mtime": "2018-03-14T12:52:33.662Z",
        "size": 986
      },
      {
        "file": "js/color-switch.js",
        "ctime": "2018-03-22T11:55:24.659Z",
        "mtime": "2017-03-12T01:20:30.000Z",
        "size": 1891
      },
      {
        "file": "TNC.CV.pdf",
        "ctime": "2018-03-14T21:43:26.279Z",
        "mtime": "2017-03-19T01:21:02.000Z",
        "size": 42602
      },
      {
        "file": ".htaccess",
        "ctime": "2018-03-24T03:16:39.703Z",
        "mtime": "2018-03-24T03:16:39.690Z",
        "size": 204
      },
      {
        "file": ".well-known/.htaccess.old",
        "ctime": "2018-03-22T01:56:28.796Z",
        "mtime": "2018-03-22T01:56:28.796Z",
        "size": 206
      },
      {
        "file": "css/truth.css.map",
        "ctime": "2018-03-25T01:48:58.097Z",
        "mtime": "2018-03-25T01:48:58.097Z",
        "size": 1747
      },
      {
        "file": "favicon.gif",
        "ctime": "2018-03-22T03:36:04.649Z",
        "mtime": "2018-03-22T03:36:01.449Z",
        "size": 0
      },
      {
        "file": "favicon.ico",
        "ctime": "2018-03-22T03:36:04.587Z",
        "mtime": "2018-03-22T03:36:01.413Z",
        "size": 0
      },
      {
        "file": "css/truth-dist.css",
        "ctime": "2018-03-25T01:49:05.464Z",
        "mtime": "2018-03-25T01:49:05.464Z",
        "size": 3747
      },
      {
        "file": "css/truth-dist.css.map",
        "ctime": "2018-03-25T01:49:05.463Z",
        "mtime": "2018-03-25T01:49:05.463Z",
        "size": 1255
      },
      {
        "file": "css/bootstrap-dist.css",
        "ctime": "2018-03-24T02:46:22.693Z",
        "mtime": "2018-03-24T02:46:22.693Z",
        "size": 120270
      },
      {
        "file": "css/bootstrap-dist.css.map",
        "ctime": "2018-03-24T02:46:22.692Z",
        "mtime": "2018-03-24T02:46:22.692Z",
        "size": 203933
      },
      {
        "file": "css/mixins-dist.css",
        "ctime": "2018-03-24T02:46:26.405Z",
        "mtime": "2018-03-24T02:46:26.405Z",
        "size": 0
      },
      {
        "file": "css/truth-dist-dist.css",
        "ctime": "2018-03-24T02:46:28.057Z",
        "mtime": "2018-03-24T02:46:28.057Z",
        "size": 3752
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}